html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family:
        "Segoe UI",
        "Segoe UI Web (West European)",
        "Segoe UI",
        -apple-system,
        BlinkMacSystemFont,
        "Roboto",
        "Helvetica Neue",
        sans-serif;

    color: #323130;
    background: #ffffff;
}

button,
input,
textarea,
select {
    font-family: inherit;
}